head
  title RangeVote.it
  link(rel='stylesheet', href='/static/brick-0.10.0.byob.min.css')
  link(rel='stylesheet', href='/static/main.css')
  script(src='/static/brick-0.10.0.byob.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/static/jquery-2.1.0.min.js')
  script(src='/static/main.js')